@font-face {
	font-family: 'Montserrat';
	src: url('../../common.blocks/fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../../common.blocks/fonts/Montserrat-Bold.ttf') format('truetype'), url('../../common.blocks/fonts/Montserrat-Bold.svg') format('svg'), url('../../common.blocks/fonts/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../../common.blocks/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../../common.blocks/fonts/Montserrat-Regular.ttf') format('truetype'), url('../../common.blocks/fonts/Montserrat-Regular.svg') format('svg'), url('../../common.blocks/fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Material Icons';
	src: url('../../common.blocks/fonts/MaterialIcons-Regular.eot');
	src: local('☺'), url('../../common.blocks/fonts/MaterialIcons-Regular.ttf') format('truetype'), url('../../common.blocks/fonts/MaterialIcons-Regular.svg') format('svg'), url('../../common.blocks/fonts/MaterialIcons-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}