@import 'fonts';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

$dark100: #1F2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark05: rgba(31, 32, 65, 0.05);
$primary: rgba(188, 156, 255, 1);
$secondary: rgba(111, 207, 151, 1);

@mixin icon {
    position: absolute;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.3125rem;
    color: $dark50;
    cursor: pointer;
    z-index: 1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat', sans-serif;
    color: $dark75;
}
html *::after, html *::before {
    box-sizing: content-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5rem;
    width: 90rem;
    margin: 0 auto;
}
h1 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: $dark100;
}
h2 {
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: $dark100;
}
h3 {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $dark100;
}

.ui-kit-logo {
    img {
        margin: 1.875rem 0 0 1.875rem;
        height: 3rem;
        width: 3rem;
    }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


