@import 'fonts';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

body {
  width: 90rem;
  margin: 0 auto;
}

.ui-kit-logo {
  img {
    margin: 1.875rem 0 0 1.875rem;
    height: 3rem;
    width: 3rem;
  }
}
