mixin radio
    .radio
        .man
            input(type='radio' name='sex' value='man' id='man' checked)
            label(for='man') 
                span.choice-name Мужчина
        .woman
            input(type='radio' name='sex' value='woman' id='woman')
            label(for='woman') 
                span.choice-name Женщина