mixin radio
    .radio
        .radio__man
            input(type='radio' name='sex' value='man' id='man' checked)
            label(for='man') 
                span.radio__choice-name Мужчина
        .radio__woman
            input(type='radio' name='sex' value='woman' id='woman')
            label(for='woman') 
                span.radio__choice-name Женщина