include ../text-field/text-field.pug
include ../radio-btns/radio-btns.pug
include ../toggle/toggle.pug
include ../buttons/buttons.pug
mixin registrationCard(data)
    .registration-card 
        h1.registration-card__header Регистрация аккаунта
        form
            .registration-card__name-inputs 
                .registration-card__name-input
                +textField({placeholder: 'Имя', type: 'text'})
                .registration-card__family-name-input
                    +textField({placeholder: 'Фамилия', type: 'text'})
                +radio
            .registration-card__date-of-birth 
                h3.registration-card__date-of-birth-header дата рождения
                +textField({placeholder: 'ДД.ММ.ГГГГ', modif: 'masked', type: 'text'})
            .registration-card__entry-data 
                h3.registration-card__entry-data-header данные для входа в сервис
                .registration-card__email-input
                    +textField({placeholder: 'Email', type: 'email'})
                .registration-card__password-input
                    +textField({placeholder: 'Пароль', type: 'password'})
                +toggle({id: 'sw1', label: 'Получать спецпредложения'})
            .registration-card__submit-button 
                if data.registerBtn != true
                    +button({type: 'button_long', text: 'перейти к оплате'})
                else 
                    +button({type: 'button_long', text: 'зарегистрироваться'})
            .registration-card__entry-section 
                .registration-card__entry-section-text Уже есть аккаунт на Toxin
                +button({type: 'button_empty', text: 'войти'})

