mixin pagination
    nav.pagination
        ul.pagination__pages
            li.pagination__activelink
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') ...
            li
                a(href='#') 15
            li.pagination__nextpage
                a(href='#') 
                    .pagination__icon
                        span.material-icons &#xe5c8
        .pagination__comment 1 – 12 из 100+ вариантов аренды

            