mixin pagination
    nav.pages
        ul.pagination
            li.activelink
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') ...
            li
                a(href='#') 15
            li.nextpage
                a(href='#') 
                    .icon
                        span.material-icons &#xe5c8
        .comment 1 – 12 из 100+ вариантов аренды

            