.rangeslider {
    position: relative;
    .slider {
        width: 266px;
    }
    .output {
        position: absolute;
        top: 0;
        left: 165px;
        letter-spacing: 0.47px;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
    }
    h3 {
        margin-top: 1px;
        margin-bottom: 23px;
    }
    .noUi-horizontal {
        height: 6px;
        .noUi-handle {
            height: 15px;
            width: 15px;
            top: -6px;
            right: -0.1px;
        }
    }
    .noUi-vertical {
        .noUi-handle {
            height: 15px;
            width: 15px;
        }
    }
    .noUi-target {
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 3px;
        box-shadow: none;
    }
    .noUi-handle {
        height: 15px;
        width: 15px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .noUi-connect {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 3px;
    }
}