@use '../theme/scss-mixins-variables';
.rangeslider {
  @include scss-mixins-variables.common-font-style;
  position: relative;
  &__header {
    @include scss-mixins-variables.h3-style;
    margin-top: 1px;
    margin-bottom: 23px;
  }
  &__slider {
    max-width: 266px;
  }
  &__output {
    position: absolute;
    top: 0;
    left: 164px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
  }
  .noUi-horizontal {
    height: 6px;
    .noUi-handle {
      height: 15px;
      width: 15px;
      top: -6px;
      right: -0.1px;
    }
  }
  .noUi-vertical {
    .noUi-handle {
      height: 15px;
      width: 15px;
    }
  }
  .noUi-target {
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    box-shadow: none;
  }
  .noUi-handle {
    height: 15px;
    width: 15px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: none;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  .noUi-connect {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
    border: none;
  }
}