mixin facility(data)
    .facility(class= data.modif)
        span.material-icons=data.icon 
        .facility__caption
            p.facility__name=data.name
            p.facility__description=data.description