@use '../ui-kit-layout/layout';
.color-example {
    display: flex;
    &__color-caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 2.5rem;
    }
    &__color-name {
        line-height: 1.75rem;
    }
    &__hex-name {
        font-size: 1.1875rem;
        line-height: 1.75rem;
    }
    &__color-display {
        height: 70px;
        width: 70px;
        border-radius: 6px;
        &_dark100 {
            background: layout.$dark100;
        }
        &_dark75 {
            background: layout.$dark75;
        }
        &_dark50 {
            background: layout.$dark50;
        }
        &_dark25 {
            background: layout.$dark25;
        }
        &_dark05 {
            background: layout.$dark05;
        }
        &_primary {
            background: layout.$primary;
        }
        &_secondary {
            background: layout.$secondary;
        }
    }
}