mixin iqdropdown(type)
    if (type === 'default')
        .iqdropdown 
            .icon
                span.material-icons expand_more
            p.iqdropdown-selection
            .iqdropdown-menu
                .iqdropdown-menu-option(data-id='спальня' data-maxcount="4" data-defaultcount="2")
                    div 
                        h3.iqdropdown-item спальни
                .iqdropdown-menu-option(data-id='кровать' data-maxcount="4" data-defaultcount="2")
                    div 
                        h3.iqdropdown-item кровати
                .iqdropdown-menu-option(data-id='ванная комната' data-maxcount="4")
                    div 
                        h3.iqdropdown-item ванные комнаты
    else if (type === 'expanded')
        .iqdropdown.menu-open
            .icon
                span.material-icons expand_more
            p.iqdropdown-selection
            .iqdropdown-menu
                .iqdropdown-menu-option(data-id='спальня' data-maxcount="4" data-defaultcount="2")
                    div 
                        h3.iqdropdown-item спальни
                .iqdropdown-menu-option(data-id='кровать' data-maxcount="4" data-defaultcount="2")
                    div 
                        h3.iqdropdown-item кровати
                .iqdropdown-menu-option(data-id='ванная комната' data-maxcount="4")
                    div 
                        h3.iqdropdown-item ванные комнаты


