mixin likebtn(likedta)
    .likebutton
        .likebutton__container(class=likedta.type)
            .likebutton__heart
                if (likedta.type == 'focused')
                    span.material-icons favorite
                else 
                    span.material-icons favorite_border
            .likebutton__count= likedta.count