include ../date-dropdown/date-dropdown.pug
include ../quantity-dropdown/quantity-dropdown.pug 
include ../buttons/buttons.pug
.booking-card 
    .booking-card__header 
        h1 Найдём номера под ваши пожелания
    .booking-card__date-pickers
        .booking-card__date-picker-arrival
            +dateDropdown({header: 'прибытие', placeholder: 'ДД.ММ.ГГГГ'})
        .booking-card__date-picker-departure
            +dateDropdown({header: 'выезд', placeholder: 'ДД.ММ.ГГГГ'})
    .booking-card__guests-num
        h3 Гости
        +iqdropdown({type:'guests',def1: '0', def2: '0'})
    .booking-card__button 
        +button({type: 'button_long', header: 'подобрать номер'})

