.booking-card 
    .booking-card__header 
        h1 Найдём номера под ваши пожелания
    .booking-card__date-pickers
        .booking-card__date-picker-arrival
            h3 Прибытие
            input(type='date' placeholder='ДД.ММ.ГГГГ')
        .booking-card__date-picker-departure
            h3 Выезд
            input(type='date' placeholder='ДД.ММ.ГГГГ')
    .booking-card__guests-num
        h3 Гости
        select(size='1' )
            option(disabled selected) Сколько гостей
            option(value='1') 1 гость
            option(value='2') 2 гостя
            option(value="3") 3 гостя
    .booking-card__button 
        button 
            h3 подобрать номер 
