include ../buttons/buttons.pug
mixin header(data)
    header.header 
        .header__content
            .header__logo 
                img(src=require('../assets/Logo.svg'))
            .header__menu-btn 
                span.header__menu-btn-burger
            .header__rightside-content
                nav.header__nav 
                    .header__about О нас
                    .header__services 
                        .header__services-text Услуги
                        .header__services-icon 
                            span.material-icons expand_more
                    .header__vacancies Вакансии
                    .header__news Новости
                    .header__agreements 
                        .header__agreements-text Соглашения
                        .header__agreements-icon 
                            span.material-icons expand_more
                .header__dependent 
                    if !data.loggedIn
                        .header__buttons
                            .entry-button 
                                +button({type: 'button_empty button_header', header: 'войти'})
                            .registration-button 
                                +button({type: 'button_long button_header', header: 'зарегистрироваться'})
                    else if data.loggedIn
                        .header__name= data.name 


