mixin richCheckbox
    .rich-check
        .rich-check__checkboxes
            .rich-check__inputs
                .rich-check__wide-corridor
                    input(type='checkbox' id='corrid').corrid
                    span.rich-check__tick
                    label(for='corrid') 
                        .rich-check__facility-name Широкий коридор
                    .rich-check__info. 
                        Ширина коридоров в номере <br> 
                        не менее 91 см.
                .rich-check__aid-for-disabled
                    input(type='checkbox' id='disaid').disaid
                    span.rich-check__tick
                    label(for='disaid') 
                        .rich-check__facility-name Помощник для инвалидов
                    .rich-check__info. 
                        На 1 этаже вас встретит специалист
                        <br> и проводит до номера.