@use '../theme/scss-mixins-variables';
.button {
  &__name {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
  }
}
.button_filled {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  width: 6.1875rem;
  height: 2.75rem;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .button__text {
    color: #FFFFFF;
    letter-spacing: -0.4px;
    margin-right: 2px;
  }
}

.button_empty {
  width: 6.1875rem;
  height: 2.75rem;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background: #FFFFFF;
  background-clip: padding-box; 
  border: solid 2px transparent; 
  letter-spacing: -0.3px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    margin: -2px; 
    border-radius: inherit; 
    z-index: -1;
  }
  .button__text {
    color: #BC9CFF;
  }
}
.button_filled_disabled {
  opacity: 0.5;
  cursor: default;
}
.button_empty_disabled {
  cursor: default;
  &::before {
    opacity: 0.5;
  }
}
.button_noborder {
  cursor: pointer;
  .button__text {
    color: #BC9CFF;
  }
}
.button_noborder_disabled {
  cursor: default;
  .button__text {
    color: rgba(31, 32, 65, 0.5);
  }
}
.button_long {
  position: relative;
  max-width: 20rem;
  height: 2.75rem;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-color: #BC9CFF;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .button__text {
    margin-right: 0.175rem;
    color: #FFFFFF;
  }
  .button__icon {
    @include scss-mixins-variables.icon;
    color: #FFFFFF;
    right: 0;
    top: 0;
  }
}
.button_header {
  height: 2.125rem;
  width: 5.4375rem;
}
.button_long.button_header {
  height: 2.125rem;
  width: 12.25rem;
  .button__icon {
    display: none;
  }
}