.filled {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    width: 99px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    h3 {
        color: #FFFFFF;
        letter-spacing: -0.4px;
        margin-right: 2px;
    }
}

.empty {
    width: 99px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background: #FFFFFF;
    background-clip: padding-box; /* !importanté */
    border: solid 2px transparent; /* !importanté */

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        margin: -2px; /* !importanté */
        border-radius: inherit; /* !importanté */
        z-index: -1;
    }
    h3 {
        color: #BC9CFF;
        letter-spacing: -0.4px;
        margin-right: 2px;
    }
}
.filled_disabled {
    opacity: 0.5;
    cursor: default;
}
.empty_disabled {
    cursor: default;
    &::before {
        opacity: 0.5;
    }
}
.noborder {
    cursor: pointer;
    h3 {
        color: #BC9CFF;
    }
}
.noborder_disabled {
    cursor: default;
    h3 {
        color: rgba(31, 32, 65, 0.5);
    }
}
.long {
    position: relative;
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-color: #BC9CFF;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    h3 {
        margin-right: 1.5px;
        color: #FFFFFF;
    }
    .icon {
        @include icon;
        color: #FFFFFF;
        left: 276px;
        top: 0;
    }
}