@import '../../common.blocks/ui-kit-layout/layout';
@import '../../common.blocks/text-field/text-field';
@import '../../common.blocks/dropdown/dropdown.scss';
@import '../../common.blocks/date-dropdown/date-dropdown';
@import '../../common.blocks/checkbox-btns/checkbox-btns';
@import '../../common.blocks/radio-btns/radio-btns';
@import '../../common.blocks/toggle/toggle';
@import '../../common.blocks/like-btn/like-btn';
@import '../../common.blocks/rating/rating';
@import '../../common.blocks/range-slider/range-slider';
@import '../../common.blocks/buttons/buttons';
@import '../../common.blocks/pagination/pagination';
body {
    background: #FFFFFF;
}
.elements1 {
    display: flex;
    padding: 58px 141px 131px 141px;
    .type {
        position: absolute;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
    }
    .col1 {
        width: 320px;
        .tfdefault {
            position: relative;
            .type {
                top: -3px;
                left: 264px;
            }
        }
        .tffocus {
            margin-top: 21px;
            position: relative;
                input[type='text'] {
                    border: 1px solid rgba(31, 32, 65, 0.5);
                    &::placeholder {
                        color: rgba(31, 32, 65, 0.75);
                        position:absolute;
                        top: 11px;
                        letter-spacing: -0.18px;
                }  
            }
            .type {
                text-transform: uppercase;
                top: 0px;
                left: 225px;
                letter-spacing: -0.25px;
            }
        }
        .dropdown  {
            margin-top: 21px;
        }
        .tfmasked {
            margin-top: 72px;
        }
        .datepickers {
            display: flex;
            justify-content: space-between;
            margin-top: 41px;
        }
        .filterdatedrop {
            margin-top: 41px;
        }
        .tfsub {
            margin-top: 41.5px;
        }
    }
    .col2 {
        width: 260px;
        margin-left: 126px;
        .radiobtns {
            margin-top: 42.5px;
            .radio {
                margin-top: 16px;
            }
        }
        .toggle {
            margin-top: 37px;
            letter-spacing: -0.55px;
            h3 {
                margin-bottom: 16px;
            }
            .toggle-switch {
                margin-top: 9px;
            }
        }
        .likebtns {
            margin-top: 41px;
            h3 {
                margin-bottom: 16px;
            }
            .lbtns {
                display: flex;
                .likebutton {
                    margin-right: 10px;
                }
            }
        }
        .ratebtns {
            margin-top: 40px;
            .ratingexs {
                display: flex;
            }
            .rating {
                margin-top: 16px;
                margin-right: 20px;
            }
        }
    }
    .col3 {
        margin-left: 132px;
        width: 320px;
        .buttons {
            margin-top: 44px;
            .btn-filled {
                display: flex;
                .filled {
                    margin-top: 16px;
                    margin-left: 0.1px;
                }
                .filled_disabled {
                    margin-left: 19px;
                }
            }
            .btn-empty {
                display: flex;
                margin-top: 30px;
                margin-left: 0.5px;
                .empty_disabled {
                    margin-left: 20px;
                }
            }
            .btn-noborder {
                display: flex;
                margin-top: 31px;
                margin-left: 2px;
                .noborder_disabled {
                    margin-left: 20px;
                }
            }
            .long {
                margin-top: 30px;
            }
        }
        .pagination-cont {
            margin-top: 41px;
            margin-left: 1px;
            .pagination {
                margin-top: 16px;
            }
        }
    }
}
.elements2 {
    display: flex;
    padding: 58px 141px 131px 141px;
}