include ../buttons/buttons.pug
include ../date-dropdown/date-dropdown.pug
include ../quantity-dropdown/quantity-dropdown.pug 
mixin finalCounterCard(data)
    .final-counter-card 
        .final-counter-card__top-bar 
            .final-counter-card__room-type 
                .final-counter-card__header 
                    span №
                    h1.final-counter-card__room-number 888
                if data.luxspaced != true
                    h3.final-counter-card__room-class люкс
                else 
                    h3.final-counter-card__room-class.final-counter-card__room-class_luxspaced люкс
            .final-counter-card__room-price
                span.final-counter-card__room-price-sum 9 990₽ 
                span.final-counter-card__room-price-period в сутки
        form
            .final-counter-card__date-pickers
                .final-counter-card__date-picker-arrival
                    +dateDropdown({header: 'прибытие', placeholder: '19.08.2019', id: 'start'})
                .final-counter-card__date-picker-departure
                    +dateDropdown({header: 'выезд', placeholder: '23.08.2019', id: 'end'})
            .final-counter-card__guests-num 
                h3.final-counter-card__guests-num-header Гости
                +iqdropdown({type:'guests', def1: '2', def2: '1'})
            .final-counter-card__services-list 
                .final-counter-card__service.final-counter-card__service_living
                    span.final-counter-card__service-name 9 990₽ х 4 суток
                    span.final-counter-card__service-sum 39 960₽
                .final-counter-card__service.final-counter-card__service_discount
                    .final-counter-card__service-name 
                        span Сбор за услуги: скидка 2 179₽
                        .final-counter-card__service-info-sign i
                    span.final-counter-card__service-sum 0₽
                .final-counter-card__service.final-counter-card__service_additional-services
                    .final-counter-card__service-name 
                        if data.shortenedService != true
                            p Сбор за дополнительные услуги
                            .final-counter-card__service-info-sign i
                        else 
                            p Сбор за доп. услуги
                            .final-counter-card__service-info-sign.final-counter-card__service-info-sign_shortened-service i
                    span.final-counter-card__service-sum 300₽
            if data.properPaddingSum != true
                .final-counter-card__final-sum 
                    h2.final-counter-card__final-sum-caption Итого
                    .final-counter-card__final-sum-line 
                    h2.final-counter-card__final-sum-caption 38 081₽
            else 
                .final-counter-card__final-sum.final-counter-card_final-sum_proper-padding
                    h2.final-counter-card__final-sum-caption Итого
                    .final-counter-card__final-sum-line 
                    h2.final-counter-card__final-sum-caption 38 081₽
            .final-counter-card__submit-button 
                +button({type: 'button_long', text: 'забронировать'})

        