@use '../date-dropdown/date-dropdown';
@use '../datepicker-layout/datepicker-layout';
@use '../quantity-dropdown/quantity-dropdown';
@use '../theme/scss-mixins-variables';
.final-counter-card {
  @include scss-mixins-variables.common-font-style;
  max-width: 23.75rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 1.5625rem rgba(0, 0, 0, 0.2);
  padding: 2.5rem 1.875rem 1.8125rem 1.8125rem;
  background: #FFFFFF;
  &__top-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__room-type {
    display: flex;
    align-items: flex-end;
  }
  &__header {
    font-weight: bold;
    color: #1F2041;
  }
  &__room-class {
    @include scss-mixins-variables.h3-style;
    color: #BC9CFF;
    margin-bottom: 0.2rem;
  }
  &__room-class_luxspaced {
    margin-left: 0.5rem;
  }
  &__room-number {
    display: inline-block;
    margin-left: 0.25rem;
    @include scss-mixins-variables.h1-style;
  }
  &__room-price {
    line-height: 1.2rem;
    color: rgba(31, 32, 65, 0.5);
    &-sum {
      font-weight: bold;
    }
    &-period {
      font-size: .75rem;
    }
  }
  &__date-pickers {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
  }
  &__guests-num {
    margin-top: 1.25rem;
    &-header {
      @include scss-mixins-variables.h3-style;
      margin-bottom: 0.3125rem;
    }
  }
  &__services-list {
    margin-top: 1.125rem;
  }
  &__service {
    display: flex;
    justify-content: space-between;
    padding-left: 0.0625rem;
    align-items: flex-start;
    &-name {
      display: flex;
    }
    &-info-sign {
      display: flex;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      color: rgba(31, 32, 65, 0.25);
      font-size: 0.75rem;
      line-height: 0.875rem;
      border: 1px solid rgba(31, 32, 65, 0.25);
      justify-content: center;
      align-items: center;
    }
    &-info-sign_shortened-service {
      margin-left: 0.5rem;
    }
    &_discount {
      margin-top: 0.625rem;
      .final-counter-card__service-info-sign {
        margin-left: 0.375rem;
      } 
    }
    &_additional-services {
      line-height: 1.125rem;
      margin-top: 0.8125rem;
      .final-counter-card__service-info-sign {
        margin-right: 2.7rem;
      }
    }
  }
  &__final-sum {
    width: 102.5%;
    margin-top: 1.875rem;
    display: flex;
    justify-content: space-between;
    &-caption {
      @include scss-mixins-variables.h2-style;
    }
    &-line {
      margin-top: 1.125rem;
      height: 0;
      flex: 1;
      border-bottom: 1px dashed rgba(31, 32, 65, 0.25);;
    }
    margin-left: 0.0625rem;
  }
  &_final-sum_proper-padding {
    margin-top: 2.75rem;
    width: 100%;
    margin-left: 0;
  }
  &__submit-button {
    margin-top: 1.25rem;
  }
}

@include scss-mixins-variables.media-xxxs {
  .final-counter-card {
    padding: 1.5rem 0.5rem;
  }
}