@use '../../common.blocks/theme/global';
@use '../../common.blocks/page-layouts/page-layout';
@use '../../common.blocks/booking-card/booking-card';
@use '../../common.blocks/footer/footer';
@use '../../common.blocks/datepicker-layout/datepicker-layout';
@use '../../common.blocks/theme/scss-mixins-variables';

.landing-page {
  &__content {
    padding: 4.375rem 8.4375rem 1.25rem 8.75rem;
    background: url('../img/landing-background.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  @include scss-mixins-variables.media-md {
    &__content {
      padding: 4.375rem 4rem 1.25rem 4rem;
    }
  }
  @include scss-mixins-variables.media-xs {
    &__content {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  @include scss-mixins-variables.media-xxxs {
    &__content {
      padding: 2.5rem 1rem 1rem 1rem;
    }
  }
  @include scss-mixins-variables.media-xs {
    &__booking-card {
      align-self: center;
    }
  }
  &__text {
    text-align: right;
    display: flex;
    align-self: flex-end;
    margin-top: 19.875rem;
    max-width: 18.75rem;
  }
  @include scss-mixins-variables.media-sm {
    &__text {
      margin-top: 10rem;
    }
  }
  @include scss-mixins-variables.media-xs {
    &__text {
      align-self: center;
      text-align: center;
      margin-top: 3rem;
    }
  }
}
