@use '../../common.blocks/page-layouts/page-layout';
@use '../../common.blocks/date-dropdown/date-dropdown';
@use '../../common.blocks/quantity-dropdown/quantity-dropdown';
@use '../../common.blocks/checkbox-btns/checkbox-btns';
@use '../../common.blocks/room-card/room-card';
@use '../../common.blocks/pagination/pagination';
@use '../../common.blocks/footer/footer';
.search-room {
    &__content {
        padding: 1.875rem 8.4375rem 1.25rem 8.75rem;
        display: flex;
        border-bottom: 1px solid rgba(31, 32, 65, 0.25);
    }
    &__rooms {
        margin-left: 3.75rem;
    }
    &__rooms-found{
        .room1 {
            .arrow-left, .arrow-right {
                display: flex;
            }
        }
        .row1, .row2, .row3, .row4 {
            display: flex;
        }
        .row2 {
            margin-top: 1.25rem;
        }
        .row3 {
            margin-top: 1.375rem;
        }
        .row4 {
            margin-top: 1.3125rem;
        }
        .room-card {
            &__view {
                height: 59%;
            }
            &__room-type {
                h3 {
                    margin-left: 0.5rem;
                }
            }
            &__room-info {
                padding-top: 1.125rem;
            }
        }
        margin-top: 1.3125rem;
        @for $i from 1 through 12 {
            .room#{$i} {
                margin-right: 0.75rem;
                #room#{$i} {
                    background: url('../../assets/room#{$i}.svg');
                }
            }
        }
    }
    &__filter {
        width: 16.625rem;
    }
    &__guestsdd {
        margin-top: 1.375rem;
        h3 {
            margin-bottom: 0.25rem;
        }
        .iqdropdown_filter {
            width: 100%;
            height: 2.75rem;
            .icon {
                left: 13.8125rem;
            }
        }
    }
    &__slider {
        margin-top: 1.875rem;
        p {
            font-size: 0.75rem;
            line-height: 0.875rem;
            color: page-layout.$dark50;
            margin-top: 0.875rem;
        }
    }
    &__rules {
        margin-top: 1.9375rem;
    }
    &__availability {
        margin-top: 2rem;
        .inputs {
            margin-top: 1.125rem;
        }
    }
    &__facilities {
        h3 {
            margin-bottom: 0.3125rem;
        }
        margin-top: 1.875rem;
    }
    &__additional-facilities {
        margin-top: 1.875rem;
    }
    &__pagination {
        margin-top: 2.5625rem;
        display: flex;
        justify-content: center;
        margin-right: 1.5rem;
        margin-bottom: 3.1875rem;
    }
}