@use '../scss-mixins-variables/scss-mixins-variables';
@use '../rating/rating';
.room-card {
    height: 16.0625rem;
    width: 16.875rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px scss-mixins-variables.$dark05;
    border-radius: 4px;
    &__view {
        height: 58%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
    }
    &__view-img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &__arrows {
        position: absolute;
        top: 0;
        z-index: 1;
        color: #FFF;
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        &:hover > .arrow-left {
            display: flex;
        }
        &:hover > .arrow-right {
            display: flex;
        }
        .arrow-left {
            display: none;
            width: 2.75rem;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
            border-top-left-radius: 4px;
            cursor: pointer;
        }
        .arrow-right {
            display: none;
            width: 2.75rem;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            border-top-left-radius: 4px;
            cursor: pointer;
        }
        
    }
    &__pic-switch {
        display: flex;
        position: absolute;
        bottom: 0.875rem;
        right: 0.9375rem;
        .sw1 {
            height: 0.46875rem;
            width: 0.46875rem;
            background: #FFFFFF;
            box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
            border-radius: 50%;
        }
        @for $i from 2 through 4 {
            .sw#{$i} {
                height: 0.46875rem;
                width: 0.46875rem;
                border: 1px solid #FFFFFF;
                filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
                border-radius: 50%;
                margin-left: 0.21875rem;
            }
        }
    }
    &__room-info {
        padding: 1.1875rem 1.0625rem 1.1875rem 1.25rem;
    }
    &__info-top-part {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        padding-bottom: 0.5rem;
    }
    &__room-type {
        display: flex;
        align-items: flex-end;
        h3 {
            color: #BC9CFF;
            margin-bottom: 0.2rem;
            margin-left: 0.0625rem;
        }
    }
    &__header {
        font-weight: bold;
        color: #1F2041;
        h1 {
            margin-left: 0.25rem;
            font-size: 1.1875rem;
        }
    }
    &__room-number {
        display: inline-block;
    }
    &__room-price {
        margin-top: 0.1875rem;
        line-height: 1.2rem;
        color: scss-mixins-variables.$dark50;
        .sum {
            font-weight: bold;
        }
        .period {
            font-size: .75rem;
        }
    }
    &__info-bottom-part {
        display: flex;
        margin-top: 0.5rem;
        justify-content: space-between;
    }
    &__reviews {
        display: flex;
        color: scss-mixins-variables.$dark50;
        margin-right: 0.1875rem;
        .num {
            font-weight: bold;
            margin-right: 0.25rem;
        }
    }
}

@include scss-mixins-variables.media-xxs {
    .room-card {
        justify-self: center;
    }
}