@use './scss-mixins-variables';
@use '../../fonts/fonts';
@import '../../fonts/font-awesome/scss/fontawesome.scss';
@import '../../fonts/font-awesome/scss/brands.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Montserrat', Arial, sans-serif;
  color: scss-mixins-variables.$dark75;
}
body {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-top: 4.375rem;
  max-width: 120rem;
  min-width: 20rem;
  margin: 4.375rem 0 0 0;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: scss-mixins-variables.$dark100;
}
h2 {
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.5rem;
  color: scss-mixins-variables.$dark100;
}
h3 {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: scss-mixins-variables.$dark100;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: scss-mixins-variables.$dark50;
  &:visited {
    color: scss-mixins-variables.$dark25;
  }
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }