mixin toggle(swdt)
    .toggle-switch
        label.toggle-switch__label(id=swdt.id)
            if (swdt.checked)
                input(type='checkbox' checked)
            else 
                input(type='checkbox')
            span.toggle-switch__styling
        label.toggle-switch__caption(for=swdt.id)= swdt.label
