mixin expandableCheckbox(data)
    .expchecklist
        h3.expchecklist__header=data.header 
            .expchecklist__icon
                if (data.type === 'closed')
                    span.material-icons expand_more
                else
                    span.material-icons expand_less
        .expchecklist__checkboxes(class=data.type)
            .expchecklist__inputs
                .expchecklist__box-1
                    input(type='checkbox' id='breakfast').breakfast
                    span.expchecklist__tick
                    label(for='breakfast') Завтрак
                .expchecklist__box-2
                    input(type='checkbox' id='table' checked).table
                    span.expchecklist__tick
                    label(for='table') Письменный стол
                .expchecklist__box-3
                    input(type='checkbox' id='stool' checked).stool
                    span.expchecklist__tick
                    label(for='stool') Стул для кормления
                .expchecklist__box-4
                    input(type='checkbox' id='bed' checked).bed
                    span.expchecklist__tick
                    label(for='bed') Кроватка
                .expchecklist__box-5
                    input(type='checkbox' id='tv').tv
                    span.expchecklist__tick
                    label(for='tv') Телевизор
                .expchecklist__box-6
                    input(type='checkbox' id='shampoo').shampoo
                    span.expchecklist__tick
                    label(for='shampoo') Шампунь
                