mixin expandableCheckbox(data)
    .expchecklist
        h3=data.header 
            .icon
                if (data.type === 'closed')
                    span.material-icons expand_more
                else
                    span.material-icons expand_less
        .checkboxes(class=data.type)
            .inputs
                .box-1
                    input(type='checkbox' id='breakfast').breakfast
                    span.tick
                    label(for='breakfast') Завтрак
                .box-2
                    input(type='checkbox' id='table' checked).table
                    span.tick
                    label(for='table') Письменный стол
                .box-3
                    input(type='checkbox' id='stool' checked).stool
                    span.tick
                    label(for='stool') Стул для кормления
                .box-4
                    input(type='checkbox' id='bed' checked).bed
                    span.tick
                    label(for='bed') Кроватка
                .box-5
                    input(type='checkbox' id='tv').tv
                    span.tick
                    label(for='tv') Телевизор
                .box-6
                    input(type='checkbox' id='shampoo').shampoo
                    span.tick
                    label(for='shampoo') Шампунь
                