mixin dateDropdown(ddrData)
    .date-dd
        h3.date-dd__header= ddrData.header
        .date-dd__input-container(class=ddrData.modif)
            input(type='text' placeholder=ddrData.placeholder id=ddrData.id readonly).datepicker-here.datepicker-here
            .date-dd__icon
                span.material-icons expand_more