include ../like-btn/like-btn.pug
mixin commentary(data)
    .commentary 
        .commentary__person 
            .commentary__img(id=data.imgId)
            - let lkdt = {type: data.liked, count: data.likesnum}
            +likebtn(lkdt)
        .commentary__body 
            .commentary__person-name 
                .commentary__name=data.name
                .commentary__when=data.when 
            .commentary__commenttext= data.text

