include ../text-field/text-field.pug
include ../buttons/buttons.pug
.entry-card 
    .entry-card__header 
        h1 Войти
    .entry-card__text-inputs
        .entry-card__email-input 
            +textField({placeholder: 'Email'})
        .entry-card__password-input
            +textField({placeholder: 'Пароль'})
    .entry-card__enter-button 
        +button({type: 'button_long', header: 'войти'})
    .entry-card__registration-section 
        .text Нет аккаунта на Toxin?
        +button({type: 'button_empty', header: 'создать'})

