mixin textField(tfData)
    .text-field 
        .text-field__input(class=tfData.modif)
            input(type='text' placeholder=tfData.placeholder)
        .text-field__icon
            if tfData.modif === 'text-field_subscription'
                .icon
                    span.material-icons &#xe5c8