mixin rating(data)
    if (data.grade==='4')
        .rating
            for i in [1, 2, 3, 4]
                .rating__star 
                    span.material-icons star 
            .rating__star 
                span.material-icons star_border
    else if (data.grade==='5')
        .rating
            for i in [1, 2, 3, 4, 5]
                .rating__star 
                    span.material-icons star 
    else if (data.grade==='3')
        .rating 
            for i in [1, 2, 3]
                .rating__star 
                    span.material-icons star 
            .rating__star 
                span.material-icons star_border
            .rating__star 
                span.material-icons star_border
