@mixin icon {
    position: absolute;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
    z-index: 1;
}
.select-container {
    position: relative;
    width: 320px;
    .nice-select {
        height: 44px;
        width: 320px;
        background-color: transparent;
        padding-left: 14px
    }
    .icon {
        @include icon;
        left: 276px;
    }
}
select {
    margin-top: 5px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    -webkit-appearance: none;
    appearance: none;
    z-index: 2;
    position: relative;
    option {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
    }
    
}