- let pageTitle = 'Cards';
include ../common.blocks/ui-kit-layout/layout.pug
.cards 
    .booking
        include ../common.blocks/booking-card/booking-card.pug 
    .registration 
        include ../common.blocks/registration-card/registration-card.pug
    