- let pageTitle = 'Form Elements';
include ../common.blocks/ui-kit-layout/layout.pug
include ../common.blocks/text-field/text-field.pug 
include ../common.blocks/dropdown/dropdown.pug
include ../common.blocks/date-dropdown/date-dropdown.pug
include ../common.blocks/checkbox-btns/checkbox-btns.pug
include ../common.blocks/radio-btns/radio-btns.pug
include ../common.blocks/toggle/toggle.pug
include ../common.blocks/like-btn/like-btn.pug
include ../common.blocks/rating/rating.pug
include ../common.blocks/range-slider/range-slider.pug
include ../common.blocks/buttons/buttons.pug
include ../common.blocks/pagination/pagination.pug
include ../common.blocks/quantity-dropdown/quantity-dropdown.pug
include ../common.blocks/expandable-checkbox-list/expandable-checkbox.pug
include ../common.blocks/rich-checkbox/rich-checkbox.pug
include ../common.blocks/bullet-list/bullet-list.pug
include ../common.blocks/facility/facility.pug
include ../common.blocks/commentary/commentary.pug
.elements1
    .col1 
        .tfdefault
            span.type DEFAULT
            h3 text field
            - const c = {placeholder: 'Email'} 
            +textField(c)
        .tffocus 
            span.type Hover / Focus
            h3 text field
            - const d = {placeholder: 'This is pretty awesome'} 
            +textField(d)
        .dropdown 
            - const dd = {header: 'dropdown', defOpt: 'Сколько гостей', opt1: '1 гость', opt2: '2 гостя', opt3: '3 гостя'}
            +dropdown(dd)
        .tfmasked 
            h3 masked text field
            - const masked = {placeholder: 'ДД.ММ.ГГГГ', modif: 'masked'}
            +textField(masked)
        .datepickers 
            - const dtpckr1 = {header: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ'}
            +dateDropdown(dtpckr1)
            - const dtpckr2 = {header: 'date dropdown', placeholder: '19.08.2019'}
            +dateDropdown(dtpckr2)
        .filterdatedrop 
            - const dt = {header: 'filter date dropdown', placeholder: '19 авг - 23 авг', modif: 'filter'}
            +dateDropdown(dt)
        .tfsub 
            h3 subscription text field
            - const sub = { placeholder: 'Email', modif: 'text-field_subscription'}
            +textField(sub)
    .col2 
        .checkboxbtns
            h3 checkbox buttons
            +checkbox
        .radiobtns
            h3 radio buttons
            +radio
        .toggle
            h3 toggle
            - const tgl = {checked: true, label: 'Получать спецпредложения', id: 'sw1'}
            +toggle(tgl)
            - const tgl2 = {label: 'Получать спецпредложения', id: 'sw2'}
            +toggle(tgl2)
        .likebtns 
            h3 like button
            .lbtns 
                - const likedta = {count: 2, id: 'unfocused'}
                +likebtn(likedta)
                - const lkdta = {count: 12, id: 'focused'}
                +likebtn(lkdta)
        .ratebtns 
            h3 rate button
            .ratingexs 
                +rating({grade: '4'})
                +rating({grade: '5'})
    .col3 
        .range
            +rangeslider('range slider')
        .buttons 
            h3 buttons 
            .btn-filled
                - const btn1 = {type: 'button_filled', header: 'click me'};
                +button(btn1)
                - const btn2 = {type: 'button_filled button_filled-disabled', header: 'click me'};
                +button(btn2)
            .btn-empty 
                - const btn3 = {type: 'button_empty', header: 'click me'};
                +button(btn3)
                - const btn4 = {type: 'button_empty button_empty-disabled', header: 'click me'};
                +button(btn4)
            .btn-noborder 
                - const btn5 = {type: 'button_noborder', header: 'click me'};
                +button(btn5)
                - const btn6 = {type: 'button_noborder button_noborder-disabled', header: 'click me'};
                +button(btn6)
            - const btn7 = {type: 'button_long', header: 'перейти к оплате'}
            +button(btn7)
        .pagination-cont 
            h3 pagination
            +pagination
.elements2 
    .col1
        .quantity-dropdown 
            h3 dropdown
            +iqdropdown({type: 'default', def1: '2', def2: '2'})
            span.type DEFAULT
        .quantity-dropdown-expanded 
            h3 dropdown 
            +iqdropdown({type: 'expanded', def1: '2', def2: '2'})
            span.type EXPANDED
        .expandable-checkbox 
            - const expData = {header: 'expandable checkbox list', type: 'closed'}
            +expandableCheckbox(expData)
        .expandable-checkbox-expanded 
            - const expData2 = {header: 'expandable checkbox list'}
            +expandableCheckbox(expData2)
    .col2 
        .dropdown-guests-expanded 
            h3 dropdown 
            +iqdropdown({type: 'guests', class: 'menu-open', def1: '0', def2: '0'})
        .rich-checkbox-buttons 
            h3 rich checkbox buttons
            +richCheckbox
    .col3 
        .dropdown-guests-expanded2 
            h3 dropdown 
            +iqdropdown({type: 'guests', class: 'menu-open', def1: '2', def2: '1'})
        .bullet-list 
            h3 bullet list
            +bulletList
.elements3 
    .facilities 
        .fac1
            - const facdt = {icon: 'sentiment_very_satisfied', name: 'Комфорт', description: 'Шумопоглощающие стены'}
            +facility(facdt)
        .fac2 
            - const facdt2 = {icon: 'location_city', name: 'Удобство', description: 'Окно в каждой из спален'}
            +facility(facdt2)
    .typicalcomment 
        - const cmtdta = {name: 'Мурад Сарафанов', when: '5 дней назад', liked: 'focused', likesnum: '12', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'}
        +commentary(cmtdta)
            

            
