- let pageTitle = 'Form Elements';
include ../common.blocks/ui-kit-layout/layout.pug
include ../common.blocks/text-field/text-field.pug 
include ../common.blocks/dropdown/dropdown.pug
include ../common.blocks/date-dropdown/date-dropdown.pug
include ../common.blocks/checkbox-btns/checkbox-btns.pug
include ../common.blocks/radio-btns/radio-btns.pug
include ../common.blocks/toggle/toggle.pug
include ../common.blocks/like-btn/like-btn.pug
include ../common.blocks/rating/rating.pug
include ../common.blocks/range-slider/range-slider.pug
include ../common.blocks/buttons/buttons.pug
include ../common.blocks/pagination/pagination.pug
include ../common.blocks/quantity-dropdown/quantity-dropdown.pug
include ../common.blocks/expandable-checkbox-list/expandable-checkbox.pug
.elements1
    .col1 
        .tfdefault
            span.type DEFAULT
            - const c = {header: 'text field', placeholder: 'Email'} 
            +textField(c)
        .tffocus 
            span.type Hover / Focus
            - const d = {header: 'text field', placeholder: 'This is pretty awesome'} 
            +textField(d)
        .dropdown 
            - const dd = {header: 'dropdown', defOpt: 'Сколько гостей', opt1: '1 гость', opt2: '2 гостя', opt3: '3 гостя'}
            +dropdown(dd)
        .tfmasked 
            - const masked = {header: 'masked text field', placeholder: 'ДД.ММ.ГГГГ', modif: 'masked'}
            +textField(masked)
        .datepickers 
            - const dtpckr1 = {header: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ'}
            +dateDropdown(dtpckr1)
            - const dtpckr2 = {header: 'date dropdown', placeholder: '19.08.2019'}
            +dateDropdown(dtpckr2)
        .filterdatedrop 
            - const dt = {header: 'filter date dropdown', placeholder: '19 авг - 23 авг', modif: 'filter'}
            +dateDropdown(dt)
        .tfsub 
            - const sub = {header:'subscription text field', placeholder: 'Email', modif: 'sub'}
            +textField(sub)
    .col2 
        .checkboxbtns
            h3 checkbox buttons
            +checkbox
        .radiobtns
            h3 radio buttons
            +radio
        .toggle
            h3 toggle
            - const tgl = {checked: true, label: 'Получать спецпредложения'}
            +toggle(tgl)
            - const tgl2 = {label: 'Получать спецпредложения'}
            +toggle(tgl2)
        .likebtns 
            h3 like button
            .lbtns 
                - const likedta = {count: 2, id: 'unfocused'}
                +likebtn(likedta)
                - const lkdta = {count: 12, id: 'focused'}
                +likebtn(lkdta)
        .ratebtns 
            h3 rate button
            .ratingexs 
                +rating
    .col3 
        .range
            +rangeslider('range slider')
        .buttons 
            h3 buttons 
            .btn-filled
                - const btn1 = {type: 'filled', header: 'click me'};
                +button(btn1)
                - const btn2 = {type: 'filled filled_disabled', header: 'click me'};
                +button(btn2)
            .btn-empty 
                - const btn3 = {type: 'empty', header: 'click me'};
                +button(btn3)
                - const btn4 = {type: 'empty empty_disabled', header: 'click me'};
                +button(btn4)
            .btn-noborder 
                - const btn5 = {type: 'noborder', header: 'click me'};
                +button(btn5)
                - const btn6 = {type: 'noborder noborder_disabled', header: 'click me'};
                +button(btn6)
            - const btn7 = {type: 'long', header: 'перейти к оплате'}
            +button(btn7)
        .pagination-cont 
            h3 pagination
            +pagination
.elements2 
    .col1
        .quantity-dropdown 
            h3 dropdown
            +iqdropdown('default')
            span.type DEFAULT
        .quantity-dropdown-expanded 
            h3 dropdown 
            +iqdropdown('expanded')
            span.type EXPANDED
        .expandable-checkbox 
            - const expData = {header: 'expandable checkbox list', type: 'closed'}
            +expandableCheckbox(expData)
        .expandable-checkbox-expanded 
            - const expData2 = {header: 'expandable checkbox list'}
            +expandableCheckbox(expData2)
    .col2 
        .dropdown-guests-expanded 
            .guests
                h3 dropdown 
                +iqdropdown('guests')

        
            

            
