include ../common.blocks/ui-kit-layout/layout.pug
include ../common.blocks/text-field/text-field.pug 
include ../common.blocks/date-dropdown/date-dropdown.pug
include ../common.blocks/checkbox-btns/checkbox-btns.pug
include ../common.blocks/radio-btns/radio-btns.pug
include ../common.blocks/toggle/toggle.pug
include ../common.blocks/like-btn/like-btn.pug
include ../common.blocks/rating/rating.pug
include ../common.blocks/range-slider/range-slider.pug
include ../common.blocks/buttons/buttons.pug
include ../common.blocks/pagination/pagination.pug
include ../common.blocks/quantity-dropdown/quantity-dropdown.pug
include ../common.blocks/expandable-checkbox-list/expandable-checkbox.pug
include ../common.blocks/rich-checkbox/rich-checkbox.pug
include ../common.blocks/bullet-list/bullet-list.pug
include ../common.blocks/facility/facility.pug
include ../common.blocks/commentary/commentary.pug
+uiKitLayout('Form Elements')
.form-elements
    .form-elements__row1
        .form-elements__row1-col1 
            .form-elements__tfdefault
                span.form-elements__tfdefault-type DEFAULT
                h3.form-elements__tfdefault-header text field
                - const c = {placeholder: 'Email', type: 'email'} 
                +textField(c)
            .form-elements__tffocus 
                span.form-elements__tffocus-type Hover / Focus
                h3.form-elements__tffocus-header text field
                - const d = {placeholder: 'This is pretty awesome', type: 'text', modif: 'focused'} 
                +textField(d)
            .form-elements__dropdown 
                h3.form-elements__dropdown-header dropdown
                +iqdropdown({type: 'guests'})
            .form-elements__tfmasked 
                h3.form-elements__tfmasked-header masked text field
                - const masked = {placeholder: 'ДД.ММ.ГГГГ', modif: 'js-masked', type: 'text'}
                +textField(masked)
            .form-elements__datepickers 
                - const dtpckr1 = {header: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ'}
                +dateDropdown(dtpckr1)
                - const dtpckr2 = {header: 'date dropdown', placeholder: '19.08.2019'}
                +dateDropdown(dtpckr2)
            .form-elements__filterdatedrop 
                - const dt = {header: 'filter date dropdown', placeholder: '19 авг - 23 авг', modif: 'date-dd_location_filter'}
                +dateDropdown(dt)
            .form-elements__tfsub 
                h3.form-elements__tfsub-header subscription text field
                - const sub = {placeholder: 'Email', modif: 'text-field_subscription-form-elements', type: 'email'}
                +textField(sub)
        .form-elements__row1-col2 
            .form-elements__checkboxbtns
                h3.form-elements__checkboxbtns-header checkbox buttons
                +checkbox
            .form-elements__radiobtns
                h3.form-elements__radiobtns-header radio buttons
                +radio
            .form-elements__toggles
                h3.form-elements__toggle-header toggle
                .form-elements__toggle-on
                    - const tgl = {checked: true, label: 'Получать спецпредложения', id: 'sw1'}
                    +toggle(tgl)
                .form-elements__toggle-off
                    - const tgl2 = {label: 'Получать спецпредложения', id: 'sw2'}
                    +toggle(tgl2)
            .form-elements__likebtns 
                h3.form-elements__likebtns-header like button
                .form-elements__likebtns-container
                    .form-elements__likebutton-unfocused 
                        - const likedta = {count: 2, type: 'likebutton_unfocused'}
                        +likebtn(likedta)
                    .form-elements__likebutton-focused 
                        - const lkdta = {count: 12, type: 'likebutton_focused'}
                        +likebtn(lkdta)
            .form-elements__ratebtns 
                h3.form-elements__ratebtns-header rate button
                .form-elements__ratebtns-ratingexamples 
                    .form-elements__rating-grade-4
                        +rating({grade: '4'})
                    .form-elements__rating-grade-5
                        +rating({grade: '5'})
        .form-elements__row1-col3 
            .form-elements__range
                +rangeslider('range slider')
            .form-elements__buttons 
                h3.form-elements__buttons-header buttons 
                .form-elements__btn-filled
                    .form-elements__btn-filled-enabled
                        - const btn1 = {type: 'button_filled', text: 'click me'};
                        +button(btn1)
                    .form-elements__btn-filled-disabled
                        - const btn2 = {type: 'button_filled button_filled_disabled', text: 'click me'};
                        +button(btn2)
                .form-elements__btn-empty 
                    .form-elements__btn-empty-enabled
                        - const btn3 = {type: 'button_empty', text: 'click me'};
                        +button(btn3)
                    .form-elements__btn-empty-disabled
                        - const btn4 = {type: 'button_empty button_empty_disabled', text: 'click me'};
                        +button(btn4)
                .form-elements__btn-noborder
                    .form-elements__btn-noborder-enabled
                        - const btn5 = {type: 'button_noborder', text: 'click me'};
                        +button(btn5)
                    .form-elements__btn-noborder-disabled
                        - const btn6 = {type: 'button_noborder button_noborder_disabled', text: 'click me'};
                        +button(btn6)
                - const btn7 = {type: 'button_long', text: 'перейти к оплате'}
                .form-elements__btn-long
                    +button(btn7)
            .form-elements__pagination 
                h3.form-elements__pagination-header pagination
                +pagination
    .form-elements__row2
        .form-elements__row2-col1
            .form-elements__quantity-dropdown 
                h3.form-elements__quantity-dropdown-header dropdown
                +iqdropdown({type: 'default', def1: '2', def2: '2'})
                span.form-elements__quantity-dropdown-type DEFAULT
            .form-elements__quantity-dropdown-expanded 
                h3.form-elements__quantity-dropdown-expanded-header dropdown 
                +iqdropdown({type: 'expanded', def1: '2', def2: '2'})
                span.form-elements__quantity-dropdown-expanded-type EXPANDED
            .form-elements__expandable-checkbox 
                - const expData = {header: 'expandable checkbox list', type: 'closed'}
                +expandableCheckbox(expData)
            .form-elements__expandable-checkbox-expanded 
                - const expData2 = {header: 'expandable checkbox list'}
                +expandableCheckbox(expData2)
        .form-elements__row2-col2 
            .form-elements__dropdown-guests-expanded 
                h3.form-elements__dropdown-guests-expanded-header dropdown 
                +iqdropdown({type: 'guests', class: 'menu-open', def1: '0', def2: '0'})
            .form-elements__rich-checkbox-buttons 
                h3.form-elements__rich-checkbox-buttons-header rich checkbox buttons
                +richCheckbox
        .form-elements__row2-col3 
            .form-elements__dropdown-guests-expanded2 
                h3.form-elements__dropdown-guests-expanded2-header dropdown 
                +iqdropdown({type: 'guests', class: 'menu-open', def1: '2', def2: '1'})
            .form-elements__bullet-list 
                h3.form-elements__bullet-list-header bullet list
                +bulletList
    .form-elements__row3 
        .form-elements__facilities 
            .form-elements__fac1
                - const facdt = {icon: 'sentiment_very_satisfied', name: 'Комфорт', description: 'Шумопоглощающие стены'}
                +facility(facdt)
            .form-elements__fac2 
                - const facdt2 = {icon: 'location_city', name: 'Удобство', description: 'Окно в каждой из спален'}
                +facility(facdt2)
        .form-elements__typicalcomment 
            - const cmtdta = {name: 'Мурад Сарафанов', personImg: require('../common.blocks/commentary/img/murad.jpg'), when: '5 дней назад', liked: 'likebutton_focused', likesnum: '12', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'}
            +commentary(cmtdta)
            

            
