include ../common.blocks/page-layouts/page-layout.pug
include ../common.blocks/footer/footer.pug
.content 
    include ../common.blocks/booking-card/booking-card.pug 
    .content__booking-card
        +bookingCard({phArrival: 'ДД.ММ.ГГГГ', phDeparture: 'ДД.ММ.ГГГГ', def1: '0', def2: '0'})
    .content__text 
        p Лучшие номера для вашей работы,<br> отдыха и просто вдохновения
.footer 
    +footer
    