- let pageTitle = 'Room details';
include ../common.blocks/facility/facility.pug
include ../common.blocks/page-layouts/page-layout.pug
include ../common.blocks/final-counter-card/final-counter-card.pug
include ../common.blocks/commentary/commentary.pug
include ../common.blocks/bullet-list/bullet-list.pug
include ../common.blocks/footer/footer.pug
.room-details 
    .room-details__photos 
        .room-details__primary-photo 
        .room-details__photo-col 
            .room-details__secondary-photo1 
            .room-details__secondary-photo2
    .room-details__content 
        .room-details__room-info 
            .room-details__info-blocks
                .room-details__facilities
                    h2 Сведения о номере
                    +facility({icon: 'sentiment_very_satisfied', name: 'Комфорт', description: 'Шумопоглощающие стены'})
                    +facility({icon: 'location_city', name: 'Удобство', description: 'Окно в каждой из спален'})
                    +facility({icon: 'whatshot', name: 'Уют', description: 'Номер оснащён камином', modif: 'facility_last'})
                .room-details__chart 
                    h2 Впечатления от номера
                    .chart-container
                        .chart 
                            canvas.js-reviews-chart
                            .chart__text-info 
                                h1 260
                                p голосов
                        ul.legend
                            li.awesome Великолепно
                            li.good Хорошо
                            li.satisfactorily Удовлетворительно
                            li.disappointed Разочарован
            .room-details__reviews
                .room-details__reviews-header
                    h2 Отзывы посетителей номера
                    p 2 отзыва
                - const cmtdta = {name: 'Мурад Сарафанов', personImg: require('../assets/murad.jpg'), imgAlt: 'Мурад Сарафанов', when: '5 дней назад', liked: 'focused', likesnum: '12', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'}
                .room-details__commentary
                    +commentary(cmtdta)
                - const cmtdta2 = {name: 'Патрисия Стеклышкова', personImg: require('../assets/patrice.jpg'), imgAlt: 'Патрисия Стеклышкова', when: 'Неделю назад', liked: 'unfocused', likesnum: '2', text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'}
                .room-details__commentary
                    +commentary(cmtdta2)
            .room-details__rules 
                .room-details__living-rules 
                    h2 Правила
                    +bulletList
                .room-details__cancellation 
                    h2 Отмена
                    p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-details__final-counter-card
            +finalCounterCard({luxspaced: true, shortenedService: true, properPaddingSum: true})
+footer
