include ../common.blocks/date-dropdown/date-dropdown.pug
include ../common.blocks/quantity-dropdown/quantity-dropdown.pug
include ../common.blocks/range-slider/range-slider.pug
include ../common.blocks/checkbox-btns/checkbox-btns.pug
include ../common.blocks/rich-checkbox/rich-checkbox.pug
include ../common.blocks/expandable-checkbox-list/expandable-checkbox.pug
.search-room 
    .search-room__header
        - let pageTitle = 'Search room';
        include ../common.blocks/page-layouts/page-layout.pug
    .search-room__content 
        .search-room__filter 
            .search-room__datedropdown 
                +dateDropdown({header: 'даты пребывания в отеле', placeholder: '19 авг - 23 авг', modif: 'filter'})
            .search-room__guestsdd 
                h3 гости
                +iqdropdown({type: 'guests', def1: '2', def2: '1', class: 'iqdropdown_filter'})
            .search-room__slider 
                +rangeslider('диапазон цены')
                p Стоимость за сутки пребывания в номере
            .search-room__rules
                h3 правила дома
                +checkbox
            .search-room__availability 
                h3 доступность
                +richCheckbox
            .search-room__facilities
                h3 удобства номера
                +iqdropdown({type: 'default', def1: '2', def2: '2'})
            .search-room__additional-facilities 
                +expandableCheckbox({header: 'дополнительные удобства', type: 'closed'})