mixin checkbox
    .checkboxes
        .inputs
            .box-smoking
                input(type='checkbox' id='smoking').smoking
                span.tick
                label(for='smoking') Можно курить
            .box-pets
                input(type='checkbox' id='pets' checked).pets
                span.tick
                label(for='pets') Можно с питомцами
            .box-guests
                input(type='checkbox' id='guests' checked).guests
                span.tick
                label(for='guests') Можно пригласить гостей <br> (до 10 человек)

