mixin checkbox
    .checkboxes
        .checkboxes__inputs
            .checkboxes__box-smoking
                input(type='checkbox' id='smoking').smoking
                span.checkboxes__tick
                label(for='smoking') Можно курить
            .checkboxes__box-pets
                input(type='checkbox' id='pets' checked).pets
                span.checkboxes__tick
                label(for='pets') Можно с питомцами
            .checkboxes__box-guests
                input(type='checkbox' id='guests' checked).guests
                span.checkboxes__tick
                label(for='guests') Можно пригласить гостей (до 10 человек)

