mixin copyright 
    .copyright 
        .copyright__content 
            .copyright__logo 
                img(src=require('../assets/logo.svg'))
            .copyright__text Copyright © 2018 Toxin отель. Все права защищены. 
            .copyright__icons
                span.fab.fa-twitter
                span.fab.fa-facebook-square
                span.fab.fa-instagram