mixin copyright 
    .copyright 
        .copyright__content 
            .copyright__logo 
                img(src=require('../assets/Logo.svg'))
            .copyright__text Copyright © 2018 Toxin отель. Все права защищены. 
            .copyright__icons
                i.fab.fa-twitter
                i.fab.fa-facebook-square
                i.fab.fa-instagram