mixin bulletList 
    ul.bulletlist 
        li.bulletlist__listitem Нельзя с питомцами
        li.bulletlist__listitem Без вечеринок и мероприятий
        li.bulletlist__listitem Время прибытия — после 13:00, <br>а выезд до 12:00
