.bulletlist {
    list-style: none;
    li {
        position: relative;
        z-index: 1;
        padding-left: 20.86px;
        padding-bottom: 9.5px;
        &::before {
            position: absolute;
            content: '';
            width: 10.43px;
            height: 10px;
            border-radius: 50%;
            background: rgba(31, 32, 65, 0.25);
            left: 0px;
            top: 6.5px;
            z-index: 3;
        }
    }
}