@use '../../common.blocks/final-counter-card/final-counter-card';
@use '../../common.blocks/entry-card/entry-card';
@use '../../common.blocks/datepicker-layout/datepicker-layout';
@use '../../common.blocks/room-card/room-card';
@import '../../common.blocks/ui-kit-layout/layout';
@import '../../common.blocks/booking-card/booking-card';
@import '../../common.blocks/registration-card/registration-card';

body {
    background: #F4F4F6;;
}
.cards {
    margin: 4.125rem 8.75rem 8.75rem 8.75rem;
    display: flex;
    .col1 {
        .registration {
            margin: 2.5rem 0 0 0;
        }
    }
    .col2 {
        margin-left: 2.5rem;
        .entry {
            margin-top: 2.4375rem;
        }
    }
    .col3 {
        margin-left: 2.5rem;
        .room-card1 {
            margin-top: 2.5rem;
        }
    }
}
